.login-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login {
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-input {
  height: 30px;
  border-radius: 5px;
  background-color: #e9ecf0;
  font-size: 1rem;
  font-weight: 600;
}

.login-button {
  margin-top: 20px;
  width: 50%;
  height: 30px;
  margin-right: 7px;
  border: none;
  border-radius: 5px;
  background-color: #e9ecf0;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

label {
  font-size: 1.2rem;
}
